.root {
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  display: grid;
}

.gridItem {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.snake {
  background-color: red;
}
