.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.grid {
  grid-template-columns: repeat(20, var(--size));
  grid-template-rows: repeat(20, var(--size));
  display: grid;
  border: 1px solid white;
  grid-gap: 1px;
  background-color: white;
}

.gridItem {
  background-color: #a2c9e6;
  width: var(--size);
  height: var(--size);
  text-align: center;
  font-size: 11px;
}

.snake {
  background-color: red;
}

.food {
  background-color: aquamarine;
}
